Expense Reimbursement System (ERS) - Presentation on first day of - Week 5
-An Employee can login- Login()
-An Employee can view the Employee Homepage- Login()
-An Employee can logout -Logout()
-An Employee can submit a reimbursement request - createNewRequest()
-An Employee can upload an image of his/her receipt as part of the reimbursement request (optional - hard / do last)
-An Employee can view their pending reimbursement requests - getEmployeePendingRequests()
-An Employee can view their resolved reimbursement requests - getEmployeeResolvedRequests()
-An Employee can view their information - getProfileInformation()
-An Employee can update their information - updateProfileInformation()
-An Employee receives an email when one of their reimbursement requests is resolved (optional)

-A Manager can login - Login()
-A Manager can view the Manager Homepage- Login()
-A Manager can logout-Logout()
-A Manager can approve/deny pending reimbursement requests - updateRequest()
-A Manager can view all pending requests from all employees - getAllPendingRequests()
-A Manager can view images of the receipts from reimbursement requests (hard /do last / optional)
-A Manager can view all resolved requests from all employees and see which manager resolved it - getAllResolvedRequests()
-A Manager can view all Employees - getAllEmployees()
-A Manager can view reimbursement requests from a single Employee - getEmployeeRequests()


------------------------------------------------------------------
-A Manager can register an Employee, which sends the Employee an email with their username and temp password (optional)
-An Employee can reset their password (Optional - tied with above functional requirement)

Technologies:
-Java 1.8
-JSPs (optional), JSTL(optional)
-Servlets
-JDBC
-SQL
-PL/SQL
-HTML/CSS/Javascript
-Bootstrap
-AJAX (required in atleast 2 functionalities) / Fetch API
-JUnit / Mockito
-log4j

Environment:
-Tomcat
-Oracle 11g Database (AWS RDS)
-Eclipse/Spring Tools Suite
-SQL Developer