@charset "ISO-8859-1";

.login-form {
	width: 40%;
}

p, span {
	color: white;
}

legend {
	color: white;
	width: inherit;
}

label {
	color: white;
	text-align: right;
}

fieldset {
	display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding: 1em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: white;
    border-image: initial;
}

.input-group-prepend {
	flex: 0 0 20%;
}
.input-group-text {
	background-color: black;
	color: white;
	width: 100%;
}
.input-group {
	border-color: white;
	width: 100%;
}