<div class="popup-form">
	<form class="container was-validated">
		<fieldset>
			<h2 class="row justify-content-center">Employee Registration</h2>
			
			<br>

			<fieldset>
				<legend>Username:</legend>
				<div class="form-row form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Username</span>
						</div>
						<input id="rUser" type="text" maxlength="20" class="form-control" placeholder="Enter your username" required>
					</div>
				</div>
			</fieldset>
			
			<fieldset>
				<legend>Personal Information:</legend>
				<div class="form-row form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">First Name</span>
						</div>
						<input id="rFirst" type="text" maxlength="20" class="form-control" placeholder="Enter a first name" required>
					</div>
				</div>
				<div class="form-row form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Last Name</span>
						</div>
						<input id="rLast" type="text" maxlength="20" class="form-control" placeholder="Enter a last name" required>
					</div>
				</div>
				<div class="form-row form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Email</span>
						</div>
						<input id="rEmail" type="email" maxlength="30" class="form-control" placeholder="Enter an email" required>
					</div>
				</div>
			</fieldset>
			
			<br>
			
			<button id="register" type="button" class="btn-success col-12">Register</button>
			<button id="cancel" type="button" class="btn-danger col-12">Cancel</button>
		</fieldset>
	</form>
</div>

<span id="loadTarget">register</span>