<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>FrontController</servlet-name>
  	<display-name>FrontController</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.FrontController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationService</servlet-name>
  	<display-name>RegistrationService</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.RegistrationService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutService</servlet-name>
  	<display-name>LogoutService</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.LogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitRequest</servlet-name>
  	<display-name>SubmitRequest</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.SubmitRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAllRequests</servlet-name>
  	<display-name>GetAllRequests</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.GetAllRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetPendingRequests</servlet-name>
  	<display-name>GetPendingRequests</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.GetPendingRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcessRequest</servlet-name>
  	<display-name>ProcessRequest</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ProcessRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetResolved</servlet-name>
  	<display-name>GetResolved</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.GetResolved</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyPending</servlet-name>
  	<display-name>MyPending</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.MyPending</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyApproved</servlet-name>
  	<display-name>MyApproved</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.MyApproved</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyDenied</servlet-name>
  	<display-name>MyDenied</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.MyDenied</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Employee</servlet-name>
  	<display-name>Employee</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FrontController</servlet-name>
  	<url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationService</servlet-name>
  	<url-pattern>/RegistrationService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutService</servlet-name>
  	<url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitRequest</servlet-name>
  	<url-pattern>/SubmitRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAllRequests</servlet-name>
  	<url-pattern>/GetAllRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetPendingRequests</servlet-name>
  	<url-pattern>/GetPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcessRequest</servlet-name>
  	<url-pattern>/ProcessRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetResolved</servlet-name>
  	<url-pattern>/GetResolved</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyPending</servlet-name>
  	<url-pattern>/MyPending</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyApproved</servlet-name>
  	<url-pattern>/MyApproved</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyDenied</servlet-name>
  	<url-pattern>/MyDenied</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Employee</servlet-name>
  	<url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <session-config>
		<session-timeout>20</session-timeout>
	</session-config>
</web-app>
