@charset "ISO-8859-1";

.popup-form {
	background: white;
	position: fixed;
	top: 10px;
	right: 10%;
	left: 10%;
}

h2 {
	color: black;
}

legend {
	width: inherit;
}

label {
	text-align: right;
}

fieldset {
	display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding: 1em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: black;
    border-image: initial;
}

span {
	text-align: center;
}